// VARIABLES
$xs: 319px;
$sm: 567px;
$md: 767px;
$lg: 991px;
$laptop: 1023px;
$desktop: 1119px;

// HERO IMAGE STYLING
.logo {
  width: 50px;
  height: 50px;

  @media screen and (min-width: 767px) {
    width: 100px;
    height: 100px;
  }
}

.banner-container {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.hero {
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;

  @media screen and (min-width: $sm) {
    left: 0;
  }

  @media screen and (min-width: $md) {
    left: -250px;
  }

  @media screen and (min-width: $lg) {
    left: 0;
  }
}

.hero-overlay {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

  @media screen and (min-width: $sm) {
    top: 50%;
  }
}

// FORM STYLING
.form-container {
  padding: 50px;
}

.form-control {
  margin-bottom: 10px;
}
